/*Codes By Mahdi Tasha*/
/*Custom Styles Of Animated SVG Component*/
.svg-holder > :nth-of-type(even) {transform: rotateY(180deg) translateX(1px);}
.svg-holder {animation: svg-holder 40s linear infinite alternate-reverse;}
.svg-holder {animation: svg-holder 40s linear infinite alternate-reverse;}

@keyframes svg-holder {
    from {transform: translateX(0);}
    from {transform: translateX(calc((120vw * 8) * -1));}
}